#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	python3 build.py build/html

override_dh_auto_test:
	python3 tests/check.py

override_dh_auto_install:
	install -d debian/ishtaria-web/usr/share/ishtaria-web
	cp -r build/html debian/ishtaria-web/usr/share/ishtaria-web/html
	install -D -m 0644 debian/nginx-site debian/ishtaria-web/etc/nginx/sites-available/ishtaria-web

override_dh_auto_clean:
	rm -rf build
